@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: 'Varela Round';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#DEDBD2, #090C9B);
  background-attachment: fixed;
}

h1 {
  font-size: 3rem;
  font-family: 'IBM Plex Mono';
}

.navbar .link {
  padding-left: 10px;
  color: #090C9B
}

.Home h1 {
  margin-left: 5%;
}

.Login {
  text-align: center;
}

.Login .loginForm input[type=submit] {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px #B4C5E4;
  border-radius: 5px;
  font-family: 'Varela Round';
}

.Login .loginForm input[type=submit]:hover {
  background-color: #E3E5E0;
}

.Login .loginForm input {
  margin-bottom: 10px;
}

.Bulletin {
  background-image: url("background1.jpg");
  width: 20%;
  height: 10%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-size: cover;
  display: inline-block;
  color: #FBFFF1;
  max-width: 200px;
}

.Bulletin .title {
  text-decoration: none;
  color: #DEDBD2;
}

.BulletinInfo {
  position: relative;
}

.BulletinInfo .back {
  position: fixed;
  bottom: 100px;
  right: 100px;
  color: #FBFFF1;
}

.BulletinInfo .taskDetails {
  margin: 20px;
}

.BulletinInfo .description {
  border-bottom: 5px solid #FB3640;
}

.description button {
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px #B4C5E4;
  border-radius: 5px;
  font-family: 'IBM Plex Mono';
}

.description .subHeading {
  color: #3A2E39;
}

button:hover {
  background-color: white;
}

.taskHandler button {
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  border: 1px #B4C5E4;
  border-radius: 5px;
  font-family: 'IBM Plex Mono';
}

.form {
  margin: 10px;
  width: 25%;
}

.createTask .submitButton {
  font-size: 1rem;
  font-family: 'IBM Plex Mono';
  text-decoration: none;
  border: 1px #B4C5E4;
  border-radius: 5px;
}

.createTask {
  padding: 5px;
  background-color: #DEDBD2;
  border: 2px solid #FB3640;
}

.subTask .removeButton {
  position: relative;
  right: 5%;
  border-radius: 5px;
  color: #FB3640;
}

.taskDetails .taskName {
  text-align: center;
}

.navbar {
  position: sticky;
  top: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 5px solid #090C9B;
  z-index: 1100;
}

.navbar h1 {
  font-size: 1.5rem;
  color: #090C9B;
}

.navbar .links {
  margin-left: auto;
  color: #FB3640;
  font-size: 2rem;
}

.createTask input {
  display: block;
  margin-bottom: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}